
<p>
<div class="well well-lg" id="comment_<%= comment.id %>">
  <%= "#{comment.user.name} - #{comment.content} - #{comment.created_at.to_datetime.strftime("%d/%m/%Y")}" %>
  <%- if current_user.id == comment.user_id%>
  <%= link_to '(Apagar)', comment, method: :delete,
              remote: true,
              id: "remove_comment_#{comment.id}" %>
  <%-end%>
</div>
</p>

<script>
    $('#remove_comment_<%= comment.id %>').bind('ajax:success',
    function(){
    $('#comment_<%=comment.id%>').remove();
    }
    );
</script>

