<%= form_for(@improvement) do |f| %>
    <% if @improvement.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@improvement.errors.count, "error") %> prohibited this improvement from being saved:</h2>

          <ul>
            <% @improvement.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>




  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category, "Categoria" %><br>
    <%= f.text_area :category %>
  </div>
  <div class="field">
    <%= f.label :content, "Conteúdo" %><br>
    <%= f.text_area :content %>
  </div>

    <div class="field">
      <%= f.label :status_id, "Status" %>
      <%= f.select :status_id, options_for_select(@status.collect { |x|[x.name, x.id] }, @improvement.status_id ||  1)%>
    </div>


    <div class="field">
      <%= f.label :responsible_id, "Responsável" %>
      <%= f.select :responsible_id, options_for_select(@responsible.collect { |x|[x.name, x.id] }, @improvement.responsible_id || 1)%>
    </div>

    <div class="actions">
    <%= f.submit message, class: "btn btn-primary" %>
  </div>
<% end %>
