<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @improvement.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @improvement.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @improvement.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @improvement.user_id %>
</p>

<%= link_to 'Edit', edit_improvement_path(@improvement) %> |
<%= link_to 'Back', improvements_path %>
