<br>
<div class="alert alert-info">
  <h3>
<%= image_tag "icon-studiare.png" %>
<%= @improvement.title %>
</h3>
<hr>
<p>
  <%= @improvement.content %>
</p>

<br>
  <hr>
<p>
  <strong>Category:</strong>
  <%= @improvement.category %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @improvement.name %>
</p>

  <p>
    <strong>Status:</strong>
  <%- if @improvement.status.name == "Finished" %>
      <td><font color="#00FF00"><%= @improvement.status.name %></font></td>
  <% end %>
  <%- if @improvement.status.name == "In Progress" %>
      <td><font color="#00BFFF"><%= @improvement.status.name %></font></td>
  <% end %>
  <%- if @improvement.status.name == "Initialized" %>
      <td><font color="#FF0000"><%= @improvement.status.name %></font></td>
  <% end %>
  </p>
  <p>
    <strong>Responsible:</strong>
    <%= @improvement.responsible.name %>

  <p>
    <strong>Created At:</strong>
    <%= @improvement.created_at.to_datetime.strftime("%m/%d/%Y")%>

  <p>
    <strong>Update At:</strong>
    <%= @improvement.updated_at.to_datetime.strftime("%m/%d/%Y")%>
</div>

<br>


<%= comments @improvement %>

<br>
<br>
<br>
<br>
<%= render partial: "comments/new_comment"%>

<%- if current_user.id == @improvement.user_id || current_user.admin? %>
    <br>
    <%= link_to 'Edit', edit_improvement_path(@improvement), class: "btn btn-primary btn-go" %>
    &nbsp;
    <%= link_to 'Destroy', @improvement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-go" %>
<%-end%>