<p id="notice"><%= notice %></p>
<div class="alert alert-info">
  <div class="alert alert-success">
  <p>
  <strong>Title:</strong>
  <%= @improvement.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @improvement.content %>
</p>
</div>

<p>
  <strong>Category:</strong>
  <%= @improvement.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @improvement.user.name %>
</p>
</div>

<br>
<br>
<br>
<br>

<%= comments @improvement %>

<br>
<br>
<br>
<br>
<%= render partial: "comments/new_comment"%>

<%- if current_user.id == @improvement.user_id%>
    <br>
    <%= link_to 'Edit', edit_improvement_path(@improvement), class: "btn btn-primary btn-go" %>
    &nbsp;
    <%= link_to 'Destroy', @improvement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-go" %>
<%-end%>