<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @improvement.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @improvement.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @improvement.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @improvement.user.name %>
</p>


<br>
<br>
<br>
<br>

<%= comments @improvement %>
<%= render partial: "comments/new_comment"%>

<%- if current_user.id == @improvement.user_id%>
<%= link_to 'Edit', edit_improvement_path(@improvement) %> |
<%-end%>