<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row edit">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= f.label :nome %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :iniciais %>
            <%= f.text_field :sub_name %>

            <%= f.label :senha %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmação" %>
            <%= f.password_field :password_confirmation %>
            <% if current_user.admin? && !current_user?(@user) %>
            <%= f.label :permission, "Permissão" %>
            <%= f.collection_radio_buttons :permission, [[true, 'Sim'] ,[false, 'Não']], :first, :last %>
            <% end %>
            <br>
            <br>
            <% if current_user.admin? && !current_user?(@user) %>
                <%= f.label :admin, "Administrador" %>
                <%= f.collection_radio_buttons :admin, [[true, 'Sim'] ,[false, 'Não']], :first, :last %>
            <% end %>

            <%= f.submit "Salvar Mudanças", class: "btn btn-primary" %>
        <% end %>
        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target="_blank">Mudar</a>
      </div>
    </div>
</div>
<% end %>


