- provide(:title, @user.name)
.col-md-12
  .col-md-2
    .row
      %aside
        %section.user_info
          %h1
            = gravatar_for @user
            = @user.name
    %p
      %strong Nome:
      = @user.name
    %p
      %strong Email:
      = @user.email
    %br/
    %form
      %p
        %strong Status:
      = form_tag improvements_path, :method => 'get' do
        - all_status = params["status"]
        - Status.all.each_with_index do |status,i|
          = check_box_tag "status[]", status.id, all_status && all_status.include?((i + 1).to_s)
          = "#{status.name}"
        %p
          %br/
          = text_field_tag :search, params[:search] , placeholder: params[:search]
          = submit_tag "Buscar", :title => nil,class: "btn btn-primary btn-go"
  .col-md-10
    %h1 Minhas Tarefas
    %br/
    %br/
    = will_paginate @improvements
    %div{:id => "improvements"}
      = render :partial => "show", :locals => {:improvements => @improvements}
    = will_paginate @improvements
    %br/

