<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>




<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p id="notice"><%= notice %></p>

<h1>Listing Improvements</h1>

<table class = "table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Content</th>
    <th>Created by</th>
    <th>Responsible</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @improvements.each do |improvement| %>

      <tr>
        <td><%= improvement.title %></td>
        <td><%= improvement.category %></td>
        <td><%= improvement.content %></td>
        <td><%= improvement.user.name %></td>
        <td><%= improvement.responsible.name %></td>
        <%- if improvement.status.name == "Finished" %>
            <td><font color="#00FF00"><%= improvement.status.name %></font></td>
        <% end %>
        <%- if improvement.status.name == "In Progress" %>
            <td><font color="#00BFFF"><%= improvement.status.name %></font></td>
        <% end %>
        <%- if improvement.status.name == "Initialized" %>
            <td><font color="#FF0000"><%= improvement.status.name %></font></td>
        <% end %>
        <td><%= link_to 'Show', improvement, class: "btn btn-primary btn-go" %></td>
        <%- if current_user.id == improvement.user_id || current_user.admin? %>
        <td><%= link_to 'Edit', edit_improvement_path(improvement), class: "btn btn-primary btn-go" %></td>
        <td><%= link_to 'Destroy', improvement, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-go" %></td>
      </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Improvement', new_improvement_path, class: "btn btn-primary btn-go" %>
