!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
    /[if lt IE 9]
  %script{:src => "//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"}
  %body
    %header
      %nav.navbar.navbar-custom.navbar-fixed-top.improv{:role => "navigation"}
        .container
          .navbar-header
            %a.logo.page-scroll{:href => root_path}
              = image_tag "studiare_logo.png"
            %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            %ul.nav.navbar-nav
              - if logged_in?
                %li.dropdown
                  %a{:href=>"#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown"}Tarefas<b class="caret"></b>
                  %ul.dropdown-menu
                    %li.c2
                      = link_to "Todas as Tarefas", improvements_path
                    %li.c2
                      = link_to "Minhas Tarefas", current_user
                    %li.c2
                      = link_to "Cemitério", cemiterio_path
                %li
                  = link_to "Nova Tarefa", new_improvement_path
                %li
                  = link_to "Configurações", edit_user_path(current_user)
                %li
                  = link_to "Usuários", users_path if is_admin?
                %li
                  = link_to "Importar CSV", new_import_log_path if is_admin?
                %li
                  %a.page-scroll{:href => about_path} Sobre
                %li
                  = link_to "Sair", logout_path, method: "delete"
              -else
                %li
                  %a.page-scroll{:href => about_path} Sobre
                %li
                  %a.page-scroll{:href => 'sessions/new' } Entrar
    .container
      - flash.each do |message_type, message|
        %div{:class => "alert alert-#{message_type}"}= message
      = yield
      = render 'layouts/footer'